{% extends "Layout/main.twig" %}

{% block content %}
	
	<div id="package-list" class="row">
		<section class="col-md-4 col-md-offset-2">
			<header>
				Package 1
			</header>
			<div class="content">
				ffdfd

				<div class="price">
					FREE
				</div>
			</div>	
		</section>
		<section class="col-md-4">
			<header>
				Package 2
			</header>	
			<div class="content">

				<div class="price">
					£50.00
				</div>
			</div>
		</section>
	</div>

{% endblock %}