<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <env name="APP_ENV" value="development"/>
    </php>
    <testsuites>
        <testsuite name="ASF Test Suite">
            <directory>tests/ASF</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">public</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>