.marginBottom10 {
  margin-bottom: 10px;
}
html,
body {
  background: url(/images/header-background.png);
  height: 100%;
}
header {
  margin: 20px 0;
}
header #logo {
  text-align: center;
}
#main-nav {
  background: #0d2c49;
  border-top: 1px solid #3d78b2;
  padding: 10px 10px 0;
  height: 50px;
  z-index: 900;
}
#main-nav ul li a {
  color: #d4e5f5;
  text-shadow: 0 1px 1px #08192b;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
#main-nav ul li.active {
  background: #fff;
}
#main-nav ul li.active a {
  color: #2f588c;
  text-shadow: 0 1px 1px #fff;
}
.spacer {
  display: inline-block;
  padding: 0 10px;
}
#message-block {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2500;
  max-width: 400px;
}
#content {
  background: #fff;
  min-height: 400px;
}
#content #main-full > section {
  margin-top: 10px;
}
table {
  border-collapse: collapse;
}
th {
  background: #3d78b2;
  color: #fff;
  border: 0 !important;
}
thead {
  border: 1px solid #3d78b2;
}
tbody {
  border: 1px solid #dadada;
}
tbody a {
  color: #79828b;
}
.forum-child {
  padding-left: 50px !important;
}
.parent-options,
.child-options {
  text-align: right;
}
/* class: .btn-orange,  color theme: Windroos */
.btn-orange {
  border-radius: 0;
  font-weight: bold;
  text-shadow: 0px -1px 0px #dc5600;
  color: #ffffff;
  background-color: #FA7414;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
  background-color: #dc5600;
}
.btn-orange:hover {
  color: #ffffdc;
  text-shadow: 0px -1px 0px #be3800;
}
.btn-orange:focus {
  color: #ffd878;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: #FA7414 #dc5600 #dc5600 #FA7414;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.btn-orange.active,
.btn-orange:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffd878;
}
/* end .btn-orange */
.btn-primary,
.btn-danger {
  border-radius: 0;
}
