@lightBlue: #3d78b2;
@white: #fff;
@grey: #f2f2f2;
@darkGrey: #c6c6c6;
@orange: #f46626;

.marginLeft10 {
	margin-left: 10px;
}

.greyGradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #e8e8e8 51%, #f0f0f0 52%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#e8e8e8), color-stop(52%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%,#e8e8e8 51%,#f0f0f0 52%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 50%,#e8e8e8 51%,#f0f0f0 52%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 50%,#e8e8e8 51%,#f0f0f0 52%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#e8e8e8 51%,#f0f0f0 52%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.inverseGreyGradient {
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfcfc 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.topRadius5 {
	border-radius: 5px 5px 0 0;
}

body {
	background: @grey;
}

#header, #footer {
	height: 156px;
	background: url(/images/header-background.png);
	padding-top: 40px;

	#logo {
		padding: 0;
		margin-bottom: 14px;
	}
}

#footer {
	margin-top: -50px;
	z-index: 1;
	padding-top: 60px;
	color: #fff;
}

#main-nav {
	background: #0d2c49;
	border-top: 1px solid @lightBlue;
	padding: 10px 10px 0;
	height: 50px;
	.topRadius5();

	ul {
		margin: 0;

		li {
			padding: 0;

			&.active {
				.greyGradient();
				.topRadius5();

				a {
					color: #2f588c;
					text-shadow: 0 1px 1px #fff;
				}
			}

			a {
				color: #d4e5f5;
				text-shadow: 0 1px 1px #08192b;
				display: block;
				padding: 10px 20px;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
	
}

#main {
	background: @white;
	z-index: 5;
	position: relative;
}

#breadcrumbs {
	margin: 10px 0 10px;
	border-top: 1px solid #f0f0f0;
	.inverseGreyGradient();
	padding: 10px;

	ul {
		margin: 0;

		li {
			a {
				text-decoration: none;
			}
		}
	}
}

section {
	margin-bottom: 10px;

	header {
		height: 35px;
		padding: 8px 8px 0;
		background: url(/images/section-header.png);
		color: #fff;
		text-shadow: 0 1px 1px #08192b;
		font-weight: bold;

		.topRadius5();
	}

	.content {
		background: @grey;
		padding: 10px;
	}
}

.parent-forum {
	margin-bottom: 10px;
}

.avatar {
	border: 1px solid #fff;
	width: 37px;
	height: 37px;

	img {
		border: 1px solid @darkGrey;
	}
}

p {
	margin: 0;
}

.topic-name, .forum-name {
	font-weight: bold;
	text-shadow: 0 1px 1px @white;
}

.user-link, label {
	color: @orange;
	font-weight: bold;
	text-decoration: none;
}

.topic-info {
	font-size: 13px;
	color: #79828b;
	text-shadow: 0 1px 1px @white;

	.date {
		font-weight: bold;
	}
}

.date, .forum-description {
	color: #79828b;
}

.date {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.seperator {
	height: 2px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #fff;
	margin: 10px 0;
}

/* class: .btn-orange,  color theme: Windroos */
.btn-orange { font-weight: bold; text-shadow: 0px -1px 0px #dc5600; color: #ffffff; background-color: #FA7414; background-image: -moz-linear-gradient(top, #ff9232, #dc5600); background-image: -ms-linear-gradient(top, #ff9232, #dc5600); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9232), to(#dc5600)); background-image: -webkit-linear-gradient(top, #ff9232, #dc5600); background-image: -o-linear-gradient(top, #ff9232, #dc5600); background-image: linear-gradient(top, #ff9232, #dc5600); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9232', endColorstr='#dc5600', GradientType=0); border-color: #FA7414 #dc5600 #dc5600 #FA7414; border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1); }
.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled] { background-color: #dc5600; }
.btn-orange:hover { color: #ffffdc; text-shadow: 0px -1px 0px #be3800; }
.btn-orange:focus { color: #ffd878; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #FA7414 #dc5600 #dc5600 #FA7414; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-orange.active, .btn-orange:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffd878; }
/* end .btn-orange */

.alert {
	margin-bottom: 10px;
}

#message-block {
	position: absolute;
	top: 20px;
	right: 20px;
}