<section>
	<header>
		<h5>Links</h5>
	</header>
	<div class="content">
		<ul class="list-unstyled nav-tabs nav">
			<li class="active">
				<a data-toggle="tab" href="javascript:void(0)" data-target="#profile-information">
					Profile Information
				</a>
			</li>
			<li class="seperator"></li>
			<li>
				<a data-toggle="tab" href="javascript:void(0)" data-target="#board-preferences">
					Board preferences
				</a>
			</li>
		</ul>
	</div>
</section>