RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} !^dev\.
RewriteCond %{HTTP_HOST} !^staging\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>