{% extends "Layout/main.twig" %}

{% block content %}
	
	<section>
		<header>
			<h5>Notifications</h5>
		</header>
		<div class="content" id="notifications-list">
			<div class="loading">
				<em class="fa fa-spinner fa-spin orange"></em>
			</div>
		</div>
	</section>

{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script>
	$(function () {
		asf.notifications.findByUser(function (list) {
			list = JSON.parse(list);

			var notifications = $.extend(list.read, list.unread);

			$.post('/' + asf.config.board.base + 'partial/user/notificationList/', {
				params: {
					notifications: notifications
				}
			}).done(function (html) {
				$('#notifications-list').html(html);
				asf.delegate();
			});
		});
	});
	</script>
{% endblock %}