{% extends "Layout/main.twig" %}

{% block content %}
	
	<div class="tab-content">
		<div id="profile-information" class="tab-pane active">
			<section>
				<header>
					<h5>Profile Information</h5>
				</header>	
				<div class="content">
					{% include 'Partials/User/profileInformation.twig' %}
				</div>
			</section>
		</div>
		<div id="board-preferences" class="tab-pane">
			<section>
				<header>
					<h5>Board Preferences</h5>
				</header>	
				<div class="content">
					{% include 'Partials/User/boardPreferences.twig' %}
				</div>
			</section>
		</div>
	</div>

{% endblock %}

{% block scripts %}

	{{ parent() }}

	<script>
	$(function () {
		var sections = [
			'profile-information',
			'board-preferences'
		];

		var url = window.location.href;
		var section = url.split('/');
		section = section[section.length - 1];

		if (sections.indexOf(section) > -1) {
			$('.tab-pane').removeClass('active');
			$('#settings-links li').removeClass('active');

			$('#' + section).addClass('active');
			$('[data-target="#' + section + '"]').parent().addClass('active');
		}
	});
	</script>
{% endblock %}